<!DOCTYPE html>

<html> 
    <head>
        <meta charset="utf-8">
        <title> About Me </title>
    </head>
    <body>
        {{> header}}
        <br/>
        <h4>This is my page</h4>

        {{> footer}}
    </body>
</html>